/*Background Color and body styling*/

body {
    margin: 10px;
    background-color: #DFD7C3
    
    ;
    
}

/*Navbar styling*/
.navbar {
    overflow: hidden;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    font-weight: 900;
    border-width: 7px;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.left {
    float:left;
}

.navbar a:hover {
    background-color: #ddd; 
    color: black; 
  }

/*Styling for the image containers that will be below nav */
  .container {
    position: static;
    text-align: center;
    color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 7px;
    margin-top: 3px;
    height: 700px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 750%;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #DB5223;
    text-shadow: #000 1px 5px 3px;
    font-style: bold;
    font-weight: 1000;
  }


   /*Used to contain blurring*/
  img {

  }

 /*Styling for form on the "Contact Us" page */
  form {
      padding: 15px;
      background-color: #283137;
      width: 1000px;
      font-family:  Georgia, 'Times New Roman', Times, serif;
      text-align: center;
      width: 80%;
      margin: 20px auto;
      border-style: double;
      border-width: 7px;
      border-color: #666D58;
  }

  label {
    width: 100%;
    padding: 12px 20px;
    padding-left: 2px;
    margin: 0px;
    box-sizing: border-box;
    align-content: center;
    text-align:left;
    width:150px;
    display:block;
    float:left;
    clear:right;
    font-size: 28px;
    color:white;
    font-style: bold;

 
  }

  input[type=text]:focus {
    border: 7px solid #666D58;
  }

  
  input[type=email]:focus {
    border: 7px solid #666D58;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
}


/*Class .Our for the styling of "Our Animals" photos (1 styling for left, 2 styling for right, 3 for 2nd left due to margin-top needing to be different)*/
  .Ours1 {

    filter: blur(0px);
    display:block;
    float:right;
    margin: 20px 0;
    position: relative;
    border-style: solid;
    border-width: 5px;

  }

  .Ours2 {

    filter: blur(0px);
    display:block;
    float:left;
    position: relative;
    margin: 4px 0;
    border-style: solid;
    border-width: 5px;
    margin-top: 0px;
    margin-right: 6px;
  }
  
  .Ours3 {
    filter: blur(0px);
    display:block;
    float:right;
    margin: 4px 0;
    position: relative;
    border-style: solid;
    border-width: 5px;
    margin-top: 0px;
  }

/*Text and border styling for "Our Animal" page*/
  
main {
  background-color: #666D58;
  font-size: 30px;
  width: 95%;
  height: 400px;
  border-style: solid;
  margin: 20px 0;
  border-width: 5px;
}

h4 {
  margin: 0px;
  margin-left: 10px;
  text-decoration: underline;
  color: #DFD7C3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px
}

p {
  margin: 0px;
  color: #DFD7C3;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Image styling for Menu page*/
.Ours4 {

  filter: blur(0px);
  display: block;
  position: relative;
  float:left;
  margin: 4px 0;
  top: 25%; 
  left: 20%; 
}

.Welcome {
  background-color: #283137;
  color: black;
  width: 99.3%;
}

/*CSS for Carousels*/

.carousel {
  background: #666D58;
}

.carousel-image {
  
  filter: blur(0px);
  display: block;
  border: solid;
  border-color: #283137;
  border-width: 7px;
  height: 300px;
  /* set min-width, allow images to set cell width */
  min-width: 400px;
  max-width: 400px;
  margin: 5px;
  margin-bottom: 10px;
  margin-top: 0px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}

/* Styling for contact colunms */
.column {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  color: Black;
  font-size: 30px;
  margin:30px;
}


