body {
    margin: 10px;
    background-color: #DFD7C3
    
    ;
    
}

/*Navbar styling*/
.navbar {
    overflow: hidden;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    font-weight: 900;
    border-width: 7px;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.left {
    float:left;
}

.navbar a:hover {
    background-color: #ddd; 
    color: black; 
  }

/*Styling for the image containers that will be below nav */
  .container {
    position: relative;
    text-align: center;
    color: black;
    max-height: 50%;
    border-style: solid;
    border-width: 7px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: #000 5px 5px 5px;
    font-style: bold;
    font-weight: 800;
   
  }

  img {
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
  }

 /*Styling for form on the "Contact Us" page */
  form {
      background-color: #283137;
      width: 1000px;
      font-family:  Georgia, 'Times New Roman', Times, serif;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      border-style: double;
      border-width: 7px;
      border-color: #666D58;
  }

  label {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    align-content: center;
    text-align:left;
    width:150px;
    display:block;
    float:left;
    clear:right;
    font-size: 28px;
    color:white;
    font-style: bold;

 
  }

  input[type=text]:focus {
    border: 7px solid #666D58;
  }

  
  input[type=email]:focus {
    border: 7px solid #666D58;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
}
