body {
    margin: 1px;
    background-color: #EDC7B7;
    
}

/*Navbar styling*/
.navbar {
    overflow: hidden;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    font-weight: 900;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.left {
    float:left;
}

.navbar a:hover {
    background-color: #ddd; 
    color: black; 
  }

/*Styling for the image containers that will be below nav */
  .container {
    position: relative;
    text-align: center;
    color: black;
    max-height: 50%;
    border-style: solid;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #123C69;
    font-style: bold;
    font-weight: 400;
   
  }

  img {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
  }

 
  form {
      background-color: #EDC7B7;
      width: 1000px;
      font-family:  Georgia, 'Times New Roman', Times, serif;
      text-align: center;
      justify-content: center;
      
  }

  label {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    align-content: center;
 
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }

  
  input[type=email]:focus {
    border: 3px solid #555;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
