

.navbar {
    overflow: hidden;
    background-color: #ffffff
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.left {
    float:left;
}

.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }